<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chaos.bmob">

    <!--保持 CPU 运转(屏幕和键盘灯有可能关闭，用于文件上传和下载)-->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="${applicationId}.BmobContentProvider"
            android:exported="false" />
    </application>

</manifest>